{% extends "coltrane/base_entries.html" %}

{% block title %}{{ month|date:"F, Y" }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %} &rarr; <a href="/{{ month|date:"Y" }}/">{{ month|date:"Y" }}</a> &rarr; {{ month|date:"F" }}{% endblock %}

{% block whatis %}
<h1 class="first">Month Archive for {{ month|date:"F, Y" }}</h1>
{# <p>This is a list of entries published in {{ month|date:"F, Y" }}.</p> #}
{% endblock %}

{% block content %}
    {% for entry in object_list %}
       <h2>{{ entry.title }}</h2>
       <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
       {% if entry.excerpt_html %}
        {{ entry.excerpt_html|safe }}
       {% else %}
         {{ entry.body_html|truncatewords_html:"50"|safe }}
       {% endif %}
       <p><a href="{{ entry.get_absolute_url }}">Read full entry</a></p>
     {% endfor %}
{% endblock %}
