{# =homepage #}

{% extends "coltrane/base_entries.html" %}

{# {% block title %}{{ block.super }}{% endblock %} #}

{% block content %}

{% block editingtoolbar %}{{ block.super }}{% endblock %}

{# <p>This is a list of the latest {{ latest.count }} entries published in the blog.</p> #}
<h1 class="first">About Phytosanitary.info</h1>

<p>Welcome to the IPPC Phytosanitary Resources homepage, where you can find resources contributed by the world’s plant protection community including <a href="dbtools/">databases &amp; tools</a>, <a href="advocacy/">advocacy</a> and <a href="training/">training materials</a>, a <a href="media/">media library</a> and <a href="misc/">more</a>.</p>

<h2>Latest Updates</h2>

<div class="dashbox">
        <table class="tablesorter {sortlist: [[1,1]]}" border="1" cellspacing="0" cellpadding="1"> 
            {# <caption>My Latest Changes</caption> #}
            <thead>
                <tr>
                    {# <th>Tags</th> #}
                    <th>Title <span class="small normal quiet">click titles to go to the resource</span></th>
                    <th>Date <span class="small normal"><acronym title="ISO Date Format: YEAR-MONTH-DAY">Y-M-D</acronym></span></th>    
                </tr>
            </thead>
            <tbody>

                {% for entry in latest %}
                <tr>
                    {# <td class="typetd">{{ entry.tag }}</td> #}
                    <td><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                        
                        {% if user.is_staff %} 
                            <a class="edit" href="/admin/coltrane/entry/{{ entry.id }}">edit</a>{# TODO: this URL is hackish - make it better #}
                        {% endif %}
                        
                        </td>
                    <td class="datetd">{{ entry.pub_date|date:"Y-m-j" }}</td>
                </tr>
                {% endfor %}
             </tbody>
             </table>
             </div>   
    {# {% for entry in latest %} #}
    {#   <h2>{{ entry.title }}</h2> #}
    {#   <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p> #}
    {#   {% if entry.excerpt_html %} #}
    {#    {{ entry.excerpt_html|safe }} #}
    {#   {% else %} #}
    {#     {{ entry.body_html|truncatewords_html:"50"|safe }} #}
    {#   {% endif %} #}
    {#   <p><a href="{{ entry.get_absolute_url }}">Read full entry</a></p> #}
    {# {% endfor %} #}
{% endblock %}

