{% extends "phytosanitary/base_resources.html" %}

{% block title %}{{ day|date:"F j, Y" }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %} &rarr; <a href="/{{ day|date:"Y" }}/">{{ day|date:"Y" }}</a> &rarr; <a href="/{{ day|date:"Y" }}/{{ day|date:"b" }}/">{{ day|date:"F" }}</a> &rarr; {{ day|date:"j" }}{% endblock %}

{% block whatis %}
 <h1 class="first"><span class="normal">Day Archive for</span> {{ day|date:"F j, Y" }}</h1>
{% endblock %}

{% block content %}
    {% for resource in object_list %}
      <h2>{{ resource.title }}</h2>
      <p>Published on {{ resource.pub_date|date:"F j, Y" }}</p>
      {% if resource.excerpt_html %}
       {{ resource.excerpt_html|safe }}
      {% else %}
        {{ resource.body_html|truncatewords_html:"50"|safe }}
      {% endif %}
      <p><a href="{{ resource.get_absolute_url }}">Read full resource</a></p>
    {% endfor %}
{% endblock %}



