{# =homepage #}

{% extends "phytosanitary/base_resources.html" %}

{% block bodyid %}home{% endblock %}

{% block content %}


{# <p>This is a list of the latest {{ latest.count }} resources published in the blog.</p> #}
{# {% for resource in latest %} #}
{# {% if resource.title == "Homepage" %} #}
{#     {{ resource.body_html|safe }} #}
{#     {% if user.is_staff %}  #}
{#         <a class="edit" href="/admin/phytosanitary/resource/{{ resource.id }}">edit</a> #}
{#     {% endif %} #}
{# {% endif %} #}
{# {% endfor %} #}

{# =todo: #}
{% load phytosanitary_tags %}
{% homeintro %}

{# <h1 class="first">About Phytosanitary.info</h1> #}
{#  #}
{# <p>Welcome to the IPPC Phytosanitary Resources homepage, where you can find resources contributed by the world’s plant protection community including <a href="dbtools/">databases &amp; tools</a>, <a href="advocacy/">advocacy</a> and <a href="training/">training materials</a>, a <a href="media/">media library</a> and <a href="misc/">more</a>.</p> #}

<h2 class="clearboth">Latest Updates</h2>

<div class="dashbox">
        <table class="tablesorter {sortlist: [[1,1]]}" border="1" cellspacing="0" cellpadding="1"> 
            {# <caption>Latest Updates</caption> #}
            <thead>
                <tr>
                    {# <th>Tags</th> #}
                    <th>Title <span class="small normal quiet">click titles to go to the resource</span></th>
                    <th>Date <span class="small normal"><acronym title="ISO Date Format: YEAR-MONTH-DAY">Y-M-D</acronym></span></th>    
                </tr>
            </thead>
            <tbody>

                {% for resource in latest %}
                <tr>
                    {# <td class="typetd">{{ resource.tag }}</td> #}
                    <td>
                        
                        <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a>
                        
                        {% if resource.ippc_resource %}
                            <span class="small quiet ippc-resource"><span class="small">IPPC</span>{# <a href="http://www.ippc.int"></a> #}</span>
                        {% endif %}


                        {% if user.is_staff %} 
                            <a class="edit" href="/admin/phytosanitary/resource/{{ resource.id }}">edit</a>{# TODO: this URL is hackish - make it better #}
                        {% endif %}
                        
                        {% load thumbnail %}
                           {# https://docs.djangoproject.com/en/dev/topics/db/queries/#related-objects #}
                           {% for photo in resource.photo_set.all %}                       
                                       <img src="{% thumbnail photo.image 15x15 %}" />
                           {% endfor %}
                           
                        </td>
                    <td class="datetd">{{ resource.pub_date|date:"Y-m-j" }}</td>
                </tr>
                {% endfor %}
             </tbody>
             </table>
             </div>   

{% endblock %}

{% block sidebar %}
{{ block.super }} {# include stuff templates we are inheriting from #}
{# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}
{# {% for resource in latest %} #}
{#     {% if resource.featured %} #}
{#     <div class="featured"> #}
{#         <h2>Featured Resources</h2> #}
{#             <ul> #}
{#             {% for resource in latest  %} #}
{#                       <li><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a> <span class="quiet">{{ resource.pub_date|date:"F j, Y" }}</span>     #}
{#                       </li> #}
{#                        #}
{#             {% endfor %} #}
{#         </ul> #}
{#       </div> #}
{#     {% endif %} #}
{# {% endfor %} #}

{% endblock %}