{% extends "phytosanitary/base_resources.html" %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %} &rarr; <a href="/{{ object.pub_date|date:"Y" }}/">{{ object.pub_date|date:"Y" }}</a> &rarr; <a href="/{{ object.pub_date|date:"Y" }}/{{ object.pub_date|date:"b" }}/">{{ object.pub_date|date:"F" }}</a> &rarr; <a href="/{{ object.pub_date|date:"Y" }}/{{ object.pub_date|date:"b" }}/{{ object.pub_date|date:"d" }}">{{ object.pub_date|date:"d" }}</a> &rarr; {{ object.title }}{% endblock %}

{% block content %}
    
    
    {% if user.is_staff %} 
    <div class="editingtoolbar floatright">
        <a href="/admin/phytosanitary/resource/{{ object.id }}">Edit this resource</a>{# TODO: this URL is hackish - make it better #}
        {# <a class="warning" href="{% url notes_delete note.id %}">delete</a> #}
    </div>
    {% endif %}
    

    <h1 class="first">{{ object.title }}</h1>
    
    <p><i>Published {# By {{ user.first_name }} {{ user.last_name }} on  #}{{ object.pub_date|date:"l, d F Y" }}</i></p>
    
    {{ object.body_html|safe }}
    
    {% if object.document_set.count %}        
        <h2>Files</h2>
        {# todo:  #}
        {#      #}
        {#     - implement ability to add more than one file per resource submission  #}
                {# - display file size - http://stackoverflow.com/a/2082715/412329 #}
        {#     - file icon or text based on file extension #}
                {# - http://stackoverflow.com/questions/4343413/how-to-upload-multiple-file-in-django-admin-models #}
        {# <ul> #}
        {#     <li><a href="/uploads/{{ document.name }}">{{ document.title }}</a>  #}
        {# </ul> #}
        
         <ul>
                {# https://docs.djangoproject.com/en/dev/topics/db/queries/#related-objects #}
                {% for document in object.document_set.all %}
                        <li><a href="/uploads/{{ document.document }}">{{ document.filename }}</a> <i class="small quiet">{{ document.document.file.size|filesizeformat }}</i></li>                
                {% endfor %}
            </ul>
            <br class="clearboth" />
    {% endif %}
    
    {% if object.photo_set.count %}
        <h2>Photos</h2>
        {# todo:  #}
        {#      #}
        {#     - implement ability to add more than one file per resource submission  #}
        {#     - file icon or text based on file extension #}
                {# - http://stackoverflow.com/questions/4343413/how-to-upload-multiple-file-in-django-admin-models #}
        <ul class="thumbs">
            {% load thumbnail %}
            {# https://docs.djangoproject.com/en/dev/topics/db/queries/#related-objects #}
            {% for photo in object.photo_set.all %}
            {# {{ photos }} #}
                <li>
                    <a href="/uploads/{{ photo.image }}"><img src="{% thumbnail photo.image 150x150 %}" /></a>
                    
                    {{ photo.caption }}                    
                </li>                
            {% endfor %}
        </ul>
    {% endif %}
            
    <br class="clearboth" />

{% endblock %}

{% block sidebar %}
    <h2>About This Resource</h2>

    
    
    
    {# todo: automatically only display fields that have values entered: #}
    {# - http://stackoverflow.com/a/2217558/412329 #}
    {# - http://stackoverflow.com/questions/2170228/django-iterate-over-model-instance-field-names-and-values-in-template/2226150#2226150 #}
    {# - http://stackoverflow.com/a/2311015/412329 #}
    
    {# {% for instance in data %} #}
    {#     {% for field, value in instance.fields.items %} #}
    {#         {{ field }}: {{ value }} #}
    {#     {% endfor %} #}
    {# {% endfor %} #}
    
    <dl>
        
        {% if object.categories.count %}
        <dt>Categories</dt>
        <dd>
            {% for category in object.categories.all %}
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% if forloop.last %}{% else %}{% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}.{% endif %}{% endfor %} {# categor{{ object.categories.count|pluralize:"y,ies" }} #}
        </dd>
        {% endif %}
        
        
        {% if object.etags.count %}
        <dt>Tags</dt>
        <dd>
            {% for tag in object.etags %}
                <a href="{% url phytosanitary_resource_archive_tag tag.name %}">{{ tag.name }}</a>{% if forloop.last %}{% else %}{# {% ifequal forloop.revcounter0 1 %} and {% else %} #}, {# {% endifequal %} #}{% endif %}{% endfor %}
        </dd>
        {% endif %}
        
        {% if object.ippc_resource %}
        <p><span class="small quiet ippc-resource">Provided by IPPC{# <a href="http://www.ippc.int"></a> #}</span></p>
        
        {% endif %}
        
        {% if object.pub_date %}
        <dt>Published Date</dt>
        <dd>{{ object.pub_date|date:"F j, Y" }}</dd>
        {% endif %}
        
        {% if object.url %}
        <dt>URL</dt>
        <dd><a href="{{ object.url }}">{{ object.url }}</a></dd>
        {% endif %}
        
        {% if object.org_title %}
        <dt>Organization</dt>
        <dd>{{ object.org_title }}</dd>
        {% endif %}
        
        {% if object.contact_type %}
        <dt>Type of Contact</dt>
        <dd>{{ object.get_contact_type_display }}</dd> {# http://stackoverflow.com/a/4321512/412329 #}
        {% endif %}
        
        {% if object.contact_email %}
        <dt>Email of Contact</dt>
        <dd>{{ object.contact_email }}</dd>
        {% endif %}        
        
        {% if object.contact_address %}
        <dt>Address of Contact</dt>
        <dd>{{ object.contact_address|linebreaks }}</dd>
        {% endif %}
    </dl>
    
    
{% endblock %}

{# TODO for future - commenting system #}
{# http://stackoverflow.com/a/4832313/412329 #}

{# <h2>Comments</h2> #}
{# {% load comments %} #}
{# {% load markup %} #}
{# {% get_comment_list for object as comment_list %} #}
{#  #}
{# {% for comment in comment_list %} #}
{#     <p><strong>On {{ comment.submit_date|date:"F j, Y" }}, {{ comment.name }} said:</strong></p> #}
{#  #}
{#     {{ comment.comment|markdown:"safe" }} #}
{# {% endfor %} #}
{#  #}
{# <h3>Post a comment</h3> #}
{#      #}
{#     <div id="commentform"> #}
{# {% render_comment_form for object %} #}
{#     </div> #}

{# {% load comments %} #}
{# {% get_comment_count for object as comment_count %} #}
{# So far, this resource has {{ comment_count }} comment{{ comment_count|pluralize }}. #}