{% extends 'base.html' %}

{% block bodyid %}upload{% endblock %}

{% block breadcrumbs %}
    &rarr; Upload Resource
{% endblock %}

{% block globalnav %}
{% endblock %}

{% block sidebar %}
    
{% endblock %}

{% block content %}
<h1 class="first">Upload a Resource</h1>

<p>Uploaded resources will be reviewed by the relevant subsidiary body(ies) and appear publically in this site. Required fields are <strong>bold</strong>.</p>

{# file upload example http://stackoverflow.com/questions/5871730/need-a-minimal-django-file-upload-example #}
{# https://docs.djangoproject.com/en/dev/ref/forms/api/#binding-uploaded-files-to-a-form #}
    <form action="" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
            {% if form.errors %}
            <p class="warning">Please fix the errors marked in <span style="color:#c00;">red</span> below. If you selected a file, please select it again.</p>
            {% endif %}

{# {% for field in photo_forms %} #}
{#     <p> #}
{#         {{field.label_tag}} #}
{#         <br />{{field}} {{field.errors}} #}
{#     </p> #}
{# {% endfor %} #}

{# {{ formset.management_form }} #}
        
        {# {% for field in fs %} #}
        {#     <p> #}
        {#     {{field.label_tag}} #}
        {#     <br />{{field}} {{field.errors}} #}
        {#  #}
        {#     {% if photo_form.pk %} #}
        {#         <br />Delete?{{field.DELETE}} #}
        {#     {% endif %} #}
        {#     </p> #}
        {# {% endfor %} #}

        
            {# {% for photo in photo_form  %} #}
            {#     <input id="id_title" type="text" name="title" value="{{ form.photo.title.value|default:'' }}" maxlength="255" tabindex="1" placeholder="Title…" /> #}
            {# {% endfor %} #}

        {# {{ resource_form.as_p }}     #}
        <fieldset>
            <legend>Basic Information</legend>
        {{ resource_form.as_p }}   
        </fieldset> 

        <fieldset>
            <legend class="normal">Documents</legend>
            {# {{ photo_formset.as_p }}    #}
            <table class="toggleanything">
                {# {{ photo_formset }} #}
                {% for field in document_form %}
                {# {% if field.data.image %} #}
                {{ field }} {{ field.errors }}
                {# {% endif %} #}
                {% if formset.can_delete %}{{ form.DELETE }}{% endif %}
                {% endfor %}
            </table>
        </fieldset>

        <fieldset>            
            <legend class="normal">Photos</legend>
            {# {{ photo_formset.as_p }}    #}
            <table class="toggleanything">
{# {{ photo_formset }} #}
                {% for field in photo_form %}
                    {# {% if field.data.image %} #}
                    {{ field }} {{ field.errors }}
                    {# {% endif %} #}
                {% if formset.can_delete %}{{ form.DELETE }}{% endif %}
                {% endfor %}
            </table>
        </fieldset>
        


        
        {# <p><input type="hidden" name="author_name" id="id_author_name" value="{{ user.username }}" /></p> #}
        {# <p><input type="hidden" name="author_id" id="id_author" value="{{ user.id }}" /></p> #}
        
        {# <p><label for="id_author">Author:</label>  #}
        {#     <select name="author" id="id_author"> #}
        {#  #}
        {# <option value="{{ user.id }}" selected>{{ user.username }}</option> #}
        {# </select></p> #}
        
        <p><input style="padding:2em;" class="editbig submit" type="submit" value="Submit" /></p>
    </form>
{% endblock %}


{% block footer %}
    
{% endblock %}