{% extends "phytosanitary/base_resources.html" %}

{% block title %}{{ year }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %} &rarr; Year Archives: {{ year }}{% endblock %}

{% block content %}
 <h1><span class="normal">Year Archive for</span> {{ year }}</h1>
<p>This is a list of months in {{ year }} in which resources were published.</p>

    <ul>
    {% for month in date_list %}
      <li><a href="{% url phytosanitary_resource_archive_month year,month|date:"b" %}">{{ month|date:"F" }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}