{% extends 'base.html' %}

{% block breadcrumbs %}
    &rarr; Upload Resource
{% endblock %}

{% block globalnav %}
{% endblock %}

{% block sidebar %}
    <p><strong>NOTE:</strong> Uploaded resources will be reviewed by the <em>Expert Working Group on Capacity Development</em> and appear publically on phytosanitary.info if approved.</p>
    <p>Required fields are <strong>bold</strong>.</p>
{% endblock %}

{% block content %}
<h1 class="first">Upload a Resource</h1>

{# file upload example http://stackoverflow.com/questions/5871730/need-a-minimal-django-file-upload-example #}
{# https://docs.djangoproject.com/en/dev/ref/forms/api/#binding-uploaded-files-to-a-form #}
    <form action="" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
            {% if form.errors %}
            <p class="warning">Please fix the errors marked in <span style="color:#c00;">red</span> below</p>
            {% endif %}
        {{ form.as_p }}    
        
        {# <p><input type="hidden" name="author_name" id="id_author_name" value="{{ user.username }}" /></p> #}
        {# <p><input type="hidden" name="author_id" id="id_author" value="{{ user.id }}" /></p> #}
        
        {# <p><label for="id_author">Author:</label>  #}
        {#     <select name="author" id="id_author"> #}
        {#  #}
        {# <option value="{{ user.id }}" selected>{{ user.username }}</option> #}
        {# </select></p> #}
        
        <p><input class="editbig submit" type="submit" value="Submit" /> <a href="/thanks/">after submitting...</a></p>
    </form>
{% endblock %}

