{# =this should really be called the category listing or category list... =TODO: clean up category URL/Model the hacks on phytosanitary =TODO: modify so it looks like homepage #}


{# {% extends "phytosanitary/base_categories.html" %} #}

{% extends "base.html" %}

{# {% block title %}Categories - {% endblock %} #}

{# {% block bodyid %}{{ slug }}{% endblock %} #}

{% block extrahead %}
    <style type="text/css" media="screen">
        body#{{ category.slug }} ul.globalnav li a.{{ category.slug }}-nav {background:transparent url(/static/img/globalnav-current-resources.gif) no-repeat 50% bottom !important; color:#000 !important;}
    </style>
{% endblock %}

{% block bodyid %}{{ category.slug }}{% endblock %}
{% block title %}{{ category.title }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    &rarr; {{ category.title }}
{% endblock %}

{% block content %}

{# todo: show only featured objects #}

{% for object in object_list %}
    {% if object.featured %}
        <div class="featured">
            <p class="quiet">Featured Resources:</p>
                <h1 style="margin-top:0;"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a> <span class="quiet normal smaller">{{ object.pub_date|date:"F j, Y" }}</span></h1>
                {# {% if object.excerpt_html %} #}
                {#     {{ object.excerpt_html|safe }} #}
                {# {% else %} #}
                    {{ object.body_html|truncatewords_html:"50"|safe }}
                {# {% endif %}       #}
        </div>
    {% endif %}      
{% endfor %}




    {% block editingtoolbar %}{{ block.super }}{% endblock %}
    
    <h1 class="first">{{ category.title }}</h1>
    {{ category.description_html|safe }}
    
    {% if user.is_staff %} 
        <a class="edit" href="/admin/phytosanitary/category/{{ category.id }}">edit</a>{# TODO: this URL is hackish - make it better #}
    {% endif %}
    
    
    <div class="dashbox">
            <table class="tablesorter {sortlist: [[1,1]]}" border="1" cellspacing="0" cellpadding="1"> 
                {# <caption>My Latest Changes</caption> #}
                <thead>
                    <tr>
                        {# <th>Tags</th> #}
                        <th>Title <span class="small normal quiet">click titles to go to the resource</span></th>
                        <th>Date <span class="small normal"><acronym title="ISO Date Format: YEAR-MONTH-DAY">Y-M-D</acronym></span></th>    
                    </tr>
                </thead>
                <tbody>
    
    {% for object in object_list %}
       <tr>
           {# <td class="typetd">{{ resource.tag }}</td> #}
           <td>
               <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
               
               {% if object.ippc_resource %}
                   <span class="small quiet ippc-resource"><span class="small">IPPC</span>{# <a href="http://www.ippc.int"></a> #}</span>
               {% endif %}
               
               
               {% if user.is_staff %} 
                   <a class="edit" href="/admin/phytosanitary/resource/{{ object.id }}">edit</a>{# TODO: this URL is hackish - make it better #}
               {% endif %}
               
               {% load thumbnail %}
               {# https://docs.djangoproject.com/en/dev/topics/db/queries/#related-objects #}
               {% for photo in object.photo_set.all %}                       
                           <img src="{% thumbnail photo.image 20x20 %}" />
               {% endfor %}
               
               
               </td>
           <td class="datetd">{{ resource.pub_date|date:"Y-m-j" }}</td>
       </tr>
       {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
