{% extends 'base.html' %}
{% block bodyid %}home{% endblock %}
{% block headtitle %}Search results for: {{ query }}  - {% endblock %}

{% block breadcrumbs %}
    &rarr; Search: {{ query }}
{% endblock %}

{% block content %}
{% if title_results or results %} 
    <h1 class="first"><span class="normal">Search results for &ldquo;</span>{{ query }}&rdquo;</h1> 
    {% if title_results %}
        <dl>
        {% for resource in title_results %} 
        {# <li><a href="{% url phytosanitary_resource_detail resource.id %}">{{ resource.title }}</a></li> #}
        
                    {# couldn't figure out the TemplateSyntaxError  Caught NoReverseMatch while rendering: Reverse for '*' with arguments '()' and keyword arguments '{}' not found, so doing this instead - see https://docs.djangoproject.com/en/dev/topics/http/urls/#defining-url-namespaces for possible solution #}
                        
            <dt><a href="/{{ resource.pub_date|date:"Y" }}/{{ resource.pub_date|date:"M" }}/{{ resource.pub_date|date:"d" }}/{{ resource.slug }}/">{{ resource.title }}</a> <span class="small quiet normal"> - {{ resource.pub_date|date:"l, d F Y" }}</span></dt>
            
            <dd>
                {# {% if resource.excerpt_html %} #}
                {#    {{ resource.excerpt_html|safe }} #}
                {#   {% else %} #}
                    {{ resource.body_html|truncatewords_html:"50"|safe }}
                  {# {% endif %} #}
                
            </dd>
        {% endfor %} 
        </dl>
    {% endif %} 
    {% if results %}
        <dl>
        {% for resource in results %} 
        {# <li><a href="{% url phytosanitary_resource_detail resource.id %}">{{ resource.title }}</a></li> #}
        
                    {# couldn't figure out the TemplateSyntaxError  Caught NoReverseMatch while rendering: Reverse for '*' with arguments '()' and keyword arguments '{}' not found, so doing this instead - see https://docs.djangoproject.com/en/dev/topics/http/urls/#defining-url-namespaces for possible solution #}
                        
            <dt><a href="/{{ resource.pub_date|date:"Y" }}/{{ resource.pub_date|date:"M" }}/{{ resource.pub_date|date:"d" }}/{{ resource.slug }}/">{{ resource.title }}</a> <span class="small quiet normal"> - {{ resource.pub_date|date:"l, d F Y" }}</span></dt>
            
            <dd>
                {% if resource.excerpt_html %}
                   {{ resource.excerpt_html|safe }}
                  {% else %}
                    {{ resource.body_html|truncatewords_html:"50"|safe }}
                  {% endif %}
                
            </dd>
        {% endfor %} 
        </dl>
    {% endif %} 
{% endif %} 

{% if query and not title_results and not results %}
    <p class="warning">No results found.</p> 
    {# {% else %} #}
    <p>Type a search query in the search form above and click "Search" to search.</p>    
{% endif %}

{% endblock %}