{% extends "phytosanitary/base_tags.html" %}

{% block title %}Tags - {% endblock %}

{% block breadcrumbs %}
    &rarr; Tags
{% endblock %}


{% block content %}
    <h1>Tags</h1>
    
    <ul>
    {% for tag in object_list %}
    <li><a href="/tags/{{ tag.name }}">{{ tag.name }}</a>
        
             {% if user.is_authenticated %} 
                    <a class="edit" href="/admin/tagging/tag/{{ tag.id }}">edit</a>{# TODO: this URL is hackish - make it better #}
                {% endif %}
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}

