{% load i18n %} {# https://docs.djangoproject.com/en/dev/topics/i18n/translation/#internationalization-in-template-code #}
<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=yes">

    <title>{% block title %}{% endblock %}Phytosanitary Resources</title>

    <link rel="stylesheet" href="/static/css/phytosanitary.css" type="text/css" media="screen" title="default" charset="utf-8" />

    <!--[if IE 7]>
        <link rel="stylesheet" href="/static/css/ie7.css" type="text/css">
        <![endif]-->

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/global.js"></script>

        {% block extrahead %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32758502-1']);
  _gaq.push(['_setDomainName', 'phytosanitary.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </head>

    <body id="{% block bodyid %}{% endblock %}">
        <div id="container">
            <div id="header">
                <h1 id="logo"><a href="{% url phytosanitary_resource_archive_index %}" title="Go to the Phytosanitary Resources homepage.">Phytosanitary Resources</a></h1>
                <div id="nav">
                    {% block nav %}
                    {% if user.is_authenticated %}
                    {# <p> #}
                        Hello, 
                        {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
                        {% if user.first_name and user.last_name %}
                            <strong>{{ user.first_name }} {{ user.last_name }}</strong>!
                        {% else %}
                            <strong>{{ user.username }}!</strong>
                        {% endif %}
                            
                        <a href="{% url userena_profile_edit user.username %}" title="{% trans "View and edit your profile, change your password or email." %}">Edit profile</a>

                        {% if user.is_staff %}
                        <a class="edit" href="/admin/">Access admin area</a> 
                        <a class="edit" href="/admin/phytosanitary/resource/add/">Add resource</a>{# TODO: this URL is hackish - make it better #}

                        {% else %}

                        {% if user.is_authenticated and user.username == user.username %}
                        <a class="edit" href="/upload/">Upload resource</a>
                        {% endif %}
                        {% endif %}
                        <a href="{% url userena_signout %}">Sign out</a>
                        {# </p> #}
                        {% else %}
                        {# http://stackoverflow.com/a/1711592/412329 #}
                        {# Alternative redirect technique?: http://stackoverflow.com/a/476720/412329 #}
                        {# <a href="{% url django.contrib.auth.views.login %}?next={% firstof request.path '/' %}">Sign in</a> #}
                        <a class="edit" href="{% url userena_signin %}">Sign in</a> or <a href="{% url userena_signup %}">Sign up</a>
                        {% endif %}
                        <form method="get" action="/search/" id="search_form"> 
                            {# <label for="id_q">Search:</label>  #}
                            <input type="text" name="q" id="id_q" size="30" /> 
                            <input type="submit" value="Search" />
                        </form>
                        {% endblock %}
                    </div> {# / #nav #}

                    {# Categories of content, or 'sections' of the site - the table of contents of a book #}
                    {% block globalnav %}
                    {% load phytosanitary_tags %}
                    {% get_latest_content phytosanitary.category 5 as latest_categories %}
                    <ul class="globalnav">
                        <li>
                            <a class="{% ifequal request.path "/" %}home-nav{% endifequal %}" href="{% url phytosanitary_resource_archive_index %}">Home</a>
                        </li>
                        {# HACK to point dbtools to god-forsaken Typo3 install until we integrate everything under Django #}
                        {# <li> #}
                        {#     <a class="dbtools-nav" href="http://projects.phytosanitary.info/">Databases &amp; Tools</a> #}
                        {# </li> #}
                        
                        {% for category in latest_categories %}
                        <li>
                            <a class="{{ category.slug }}-nav" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endblock %}

                </div> {# / #header #}

                <p class="breadcrumbs">
                    <strong><a class="logo" title="Homepage." href="{% url phytosanitary_resource_archive_index %}">Phytosanitary.info</a></strong> {% block breadcrumbs %}{% endblock %}
                </p>

                <div id="content">
                    <div class="contentbox">
                        {% block content %}
                        {% endblock %}
                    </div> {# / .contentbox #}
                </div> {# / #content #}

                <div id="sidebar">
                    <div class="sidebarbox">
                        {% block sidebar %}

                            <div class="docs">
                                <h2>Browse by Keyword</h2>

                             {#    <p>Browse resources using the categories above (think of categories as the table of contents) or the tags below (think of tags as the keyword index):</p> #}

                                {# Tags, or 'keywords' - the index of a book #}
                                {# =todo: we should display all tags here regardless of whether they are the 'latest' or not. change this. #}
            
                                {# HARDCODING TAGS for NOW AS PER CAPACITY DEVELOPMENT REQUEST for FIXED ORDER #}

                                {# {% load phytosanitary_tags %} #}
                                {# {% get_latest_content tagging.tag 50 as latest_tags %} #}
                                {# <ul> #}
                                    {# {% for tag in latest_tags %} #}
                                    {# <li> #}
                                        {# <a href="/tags/{{ tag.name }}/">{{ tag.name }}</a> #}
                                    {# </li> #}
                                    {# {% endfor %} #}
                                {# </ul> #}

                                <ul>
                                    
                                    <li>
                                        <a href="/tags/Advocacy/">Advocacy</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Databases/">Databases</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/E-learning/">E-learning</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Explanatory/">Explanatory</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Factsheet/">Factsheet</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Guide/">Guide</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Manual/">Manual</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/PRA/">PRA</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Photo/">Photo</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Project/">Project</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/StandardOperatingProcedures/">Standard Operating Procedures</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Tools/">Tools</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Video/">Video</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/tags/Other/">Other</a>
                                    </li>

                                </ul>



                                <h2>Contribute</h2>

                                <p>Uploaded resources will be reviewed by the relevant subsidiary body(ies) and appear publically in this site.</p>
                                <p>
                                    {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
                                    {% if user.is_authenticated and user.username == user.username %}
                                        <a class="editbig" href="/upload/">Upload resource</a>
                                    {% else  %}
                                        To contribute materials please <a href="{% url userena_signin %}">sign in</a> or <a href="{% url userena_signup %}">sign up</a>.
                                    {% endif %}
                                </p>
                            </div> <!-- end docs -->

                        {% endblock %}
                    </div> {# /.sidebarbox #}
                </div> {# / #sidebar #}

                <div id="footer">

                        {% block footer %}

                            <!-- =FOOTER  ========================================================================================= -->

                            <div class="floatleft">
                                <form method="get" action="/search/" id="search_form_footer"> 
                                    <input type="text" name="q" id="id_q" size="30" /> 
                                    <input type="submit" value="Search" />
                                </form>

                                <p class="small quiet">Disclaimer: Published phytosanitary technical resources included in the phytosanitary.info website are not endorsed/adopted/agreed by the <a href="https://www.ippc.int/index.php?id=cpm&no_cache=1&L=0" title="Commission on Phytosanitary Measures">CPM</a>.</p>
                            </div> {# end .floatleft #}

                            <div class="floatright">
                                <p class="fao">The Phytosanitary Resources website <br />is hosted &amp; provided <br />by the <a href="https://www.ippc.int" title="Go to the IPPC website."><acronym title="International Plant Protection Convention">IPPC</acronym></a>.</p>
                                <a style="border:0;" class="imglink" href="https://www.ippc.int" title="Go to the IPPC website."><img style="border:0;" class="ippclogoglyph" src="/static/img/ippc-logo-glyph-web.gif" width="101" height="53" alt="International Plant Protection Convention Logo" /></a>
                            </div> {# end .floatright #}

                            <br class="clearboth" />

                        {% endblock %}

                </div> {# / #footer #}
            {% block extrafoot %}{% endblock %}
        </div> {# / #container #}
    </body>
    </html>