{% load i18n %} {# https://docs.djangoproject.com/en/dev/topics/i18n/translation/#internationalization-in-template-code #}
<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=yes">

    <title>{% block title %}{% endblock %}Phytosanitary Resources</title>
    
    <link rel="stylesheet" href="/static/css/phytosanitary.css" type="text/css" media="screen" title="default" charset="utf-8" />
    
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/global.js"></script>
    
    {% block extrahead %}{% endblock %}
</head>

<body id="{% block bodyid %}{% endblock %}">
<div id="container">
    <div id="header">
        <div class="logo">
            <a class="imglink" href="{% url phytosanitary_resource_archive_index %}" title="Go to the Phytosanitary Resources homepage."><img src="/static/img/LogoPhytosanitaryResources.gif" alt="Phytosanitary Resources" border="0" /></a>
		</div> {# / .logo #}
        <div id="nav">
            {% block nav %}
                {% if user.is_authenticated %}
                        {# Hello, {{ user.first_name }} {{ user.last_name }}! <a href="{% url django.contrib.auth.views.logout %}?next={% firstof request.path '/notes/' %}">Log out</a> or <strong><a class="edit" href="{% url notes_create %}">add a note</a></strong> #}
                        <p>
                            Hello, 
                                {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
                                {# {% if user.username == profile.user.username %} #}
                                    <a href="{% url userena_profile_detail user.username %}" title="{% trans "View, edit your profile" %}">{{ user.first_name }} {{ user.last_name }}</a>!
                                {# {% endif %} #}
                            
                            {# <a href="{% url userena_signout %}?next={% firstof request.path '/' %}">Log out</a> #}
                            <a href="{% url userena_signout %}">Log out</a>
                        
                            {% if user.is_staff %}
                                <strong><a class="edit" href="/admin/">Admin</a></strong>
                            {% endif %}
                        </p>
                {% else %}
                    {# http://stackoverflow.com/a/1711592/412329 #}
                    {# Alternative redirect technique?: http://stackoverflow.com/a/476720/412329 #}
                    {# <a href="{% url django.contrib.auth.views.login %}?next={% firstof request.path '/' %}">Log in</a> #}
                    
                    <a href="{% url userena_signin %}">Log in</a> {# or <a href="{% url userena_signup %}">Register</a> #}
                {% endif %}
                <form method="get" action="/search/"> 
                        {# <label for="id_q">Search:</label>  #}
                        <input type="text" name="q" id="id_q" size="30" /> 
                        <input type="submit" value="Search" />
                </form>
            {% endblock %}
            
                
                
            </div> {# / #nav #}
            
            {# Categories of content, or 'sections' of the site - the table of contents of a book #}
            {% block globalnav %}
            {% load phytosanitary_tags %}
            {% get_latest_content phytosanitary.category 5 as latest_categories %}
            <ul class="globalnav">
                <li>
                    <a class="{% ifequal request.path "/" %}home-nav{% endifequal %}" href="{% url phytosanitary_resource_archive_index %}">Home</a>
                </li>
                {% for category in latest_categories %}
                <li>
                    <a class="{{ category.slug }}-nav" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endblock %}

    </div> {# / #header #}
    
    <p class="breadcrumbs">
        <strong><a class="logo" title="Homepage." href="{% url phytosanitary_resource_archive_index %}">Phytosanitary.info</a></strong> {% block breadcrumbs %}{% endblock %}
    </p>
    
    <div id="content">
        <div class="contentbox">


                


            
            {% block whatis %} {# resource_archive, etc #}
            {% endblock %}

            {% block content %}

                
                {% block editingtoolbar %}
                {% if user.is_staff %}
                <div class="editingtoolbar floatright">
                    <a href="/admin/phytosanitary/resource/add/">Add a resource</a>{# TODO: this URL is hackish - make it better #}
                    {# <a class="warning" href="{% url notes_delete note.id %}">delete</a> #}                        
                </div>
                {% endif %}
                {% endblock %}

            
            {% endblock %}
        </div>
    </div> {# / #content #}
    
    <div id="sidebar">
        <div class="sidebarbox">
            
            {% block sidebar %}
            

            
            <div class="docs">
                <h2>Browse</h2>

                <p>Browse resources using the categories above (think of categories as the table of contents) or the tags below (think of tags as the keyword index):</p>

                {# Tags, or 'keywords' - the index of a book #}
                {# =todo: we should display all tags here regardless of whether they are the 'latest' or not. change this. #}
                {% load phytosanitary_tags %}
                {% get_latest_content tagging.tag 50 as latest_tags %}
                <ul>
                {% for tag in latest_tags %}
                    <li class="titlecase">
                        <a href="/tags/{{ tag.name }}/">{{ tag.name }}</a>
                    </li>
                {% endfor %}
                </ul>

                {# {% load phytosanitary_tags %} #}
                {#         <h2>Latest Published Resources</h2> #}
                {#         <ul> #}
                {#             {% get_latest_content phytosanitary.resource 5 as latest_resources %} #}
                {#             {% for resource in latest_resources %} #}
                {#             <li> #}
                {#                 <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a>, posted {{ resource.pub_date|timesince }} ago. #}
                {#             </li> #}
                {#             {% endfor %} #}
                {#         </ul> #}
            

                
                    <h2>Contribute</h2>

                        {# TODO:  #}
                        {#     - http://bradmontgomery.blogspot.com/2009/04/restricting-access-by-group-in-django.html #}
                        {#     - http://stackoverflow.com/questions/4888708/user-permissions-for-django-module #}
                        {#     -  #}
                    <p>
                        {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
                        {% if user.is_authenticated and user.username == user.username %}
                        <a class="edit" href="/upload/">Upload a resource</a><br /><br />
                        {% else  %}
                            To contribute materials please <a href="{% url userena_signin %}">log in</a> or <a href="{% url userena_signup %}">register</a>.
                        {% endif %}
                        
                            Uploaded resources will be reviewed by the <em>Expert Working Group on Capacity Development</em> and appear publically here if approved.
                    </p>

                
                        
                    </div> <!-- end docs -->
            
            {% endblock %}
        </div>
    </div> {# / #sidebar #}
    
    <div id="footer">
        <p>
        {% block footer %}
        {# {% include "includes/search_form.html" %} #}

        {# Django version: {{ django_version }} #}
        {# {% load tags %} #}
        {# {% get_current_time "%Y-%m-%d %I:%M %p" as the_time %} #}
        {# <p>The time is {{ the_time }}.</p> #}        
        {% endblock %}

        </p>
    </div> {# / #footer #}
    {% block extrafoot %}{% endblock %}
</div> {# / #container #}
</body>
</html>