{# {% extends 'base.html' %} #}

{# {% block header %} #}
{#      #}
{# {% endblock %} #}
{#  #}
{# {% block breadcrumbs %} #}
{#     &rarr; Markdown syntax #}
{# {% endblock %} #}

<h1 class="first">Markdown Syntax</h1>
<pre><code># Heading Level One

A paragraph with *emphasized*, **bold** text and [a link](http://www.ippc.int) to a webpage. 
You can also use [reference-style links][1], with the reference in the bottom of the page.

- List item
- List item
    - Nested list item indented 4 spaces
        - Nested list item indented 8 spaces

## A Second-Level Heading

1. Ordered List item
2. Ordered List item
    1. Nested ordered list item indented 4 spaces
    2. Note that list style is controlled by the stylesheet (your numbers will be converted)
        3. Indented by 8 spaces
3. Ordered List item

> A blockquotation

[1]: http://daringfireball.com/projects/markdown
</code></pre>

<p><a href="http://daringfireball.com/projects/markdown">More information on Markdown syntax</a></p>
{# ![photo description](http://hypertexthero.com/ippc/img/photo-whoweare-t.jpg) #}