{% extends 'userena/base_userena.html' %}
{% load i18n %}

{# {% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %} #}

{% block breadcrumbs %} &rarr; <a href="/accounts/">Accounts</a> &rarr; <a href="/accounts/{{ user.username }}">{{ user.username }} {% if user.get_full_name %}({{ user.get_full_name }}){% endif %}</a> &rarr; Change Email{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Change email address" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Change email" %}" />
</form>
{% endblock %}

{% block sidebar %}
    <ul id="box-nav">
      <li class="first"><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
      <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit profile" %}</a></li>
      <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
      <li class="last selected"><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
    </ul>
{% endblock %}