{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{# {% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %} #}

{% block breadcrumbs %} &rarr; <a href="/accounts/">Accounts</a> &rarr; <a href="/accounts/{{ profile.user.username }}">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</a> &rarr; Edit{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="submit" value="{% trans "Save changes" %}" />
</form>

{# <form action="" enctype="multipart/form-data" method="post"> #}
{#   {% csrf_token %} #}
{#   <fieldset> #}
{#     <legend>Edit Profile</legend> #}
{#     <p><label for="id_first_name">First name:</label> <input id="id_first_name" type="text" name="first_name" value="{{user.first_name}}" maxlength="30" /></p> #}
{#     <p><label for="id_last_name">Last name:</label> <input id="id_last_name" type="text" name="last_name" value="{{user.last_name}}" maxlength="30" /></p> #}
{#     <p><label for="id_mugshot">Picture:</label> <input type="file" name="mugshot" id="id_mugshot" /> <span class="helptext">A personal image displayed in your profile.</span></p> #}
{#     <p><label for="id_privacy">Privacy:</label>  #}
{#         <select name="privacy" id="id_privacy"> #}
{#         <option value="open">Open - All users can view your profile</option> #}
{#         <option value="registered" selected="selected">Registered - registered users can view your profile</option> #}
{#         <option value="closed">Closed - Only you can view your profile</option> #}
{#     </select>  #}
{#     <span class="helptext">Designates who can view your profile.</span> #}
{#     </p> #}
{#   </fieldset> #}
{#   <input type="submit" class="submit" value="Save changes" /> #}
{# </form> #}

{% endblock %}

{% block sidebar %}
    <ul id="box-nav">
      <li class="first"><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
      <li class="selected"><a href="{% url userena_profile_edit user.username %}">{% trans "Edit profile" %}</a></li>
      <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
      <li class="last"><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
    </ul>
{% endblock %}